<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>703661084209-2ptq7ic0279t9at7khevf0ciev5cu5m5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTFRAXIp8VhHTnSgKZbBWYjI8O-ZiLkt4</string>
	<key>GCM_SENDER_ID</key>
	<string>703661084209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mopet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mopet-1658898595272</string>
	<key>STORAGE_BUCKET</key>
	<string>mopet-1658898595272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703661084209:ios:815007df0d5ce4512acf10</string>
	<key>DATABASE_URL</key>
	<string>https://mopet-1658898595272-default-rtdb.firebaseio.com</string>
</dict>
</plist>